<div class="container">
  <div class="content">
    <h1>Paiement de facture</h1>

    <div class="button-group mb-4">
      <button mat-raised-button color="primary" [routerLink]="['/homepage']" class="rounded-left">
        Liste des créanciers
      </button>
      <button mat-raised-button color="primary" [routerLink]="['/historique']" class="rounded-right">
        Historique
      </button>
    </div>

    <div class="mb-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Toutes les catégories</mat-label>
        <mat-select [(ngModel)]="selectedCategory" (ngModelChange)="filterCreditors()">
          <mat-option value="all">Toutes les catégories</mat-option>
          <mat-option value="OPERATEUR">Operateur</mat-option>
          <mat-option value="UTILITY">Utility</mat-option>
          <mat-option value="ASSOCIATION">Association</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-md-6" *ngFor="let creditor of filteredCreditors; let i = index">
        <mat-card class="creditor-card">
          <mat-card-content>
            <div class="row align-items-center">
              <div class="col-md-3 logo-container">
                <img [src]="creditor.logo" alt="{{ creditor.name }}" class="logo" [class.large]="i < 2">
              </div>
              <div class="col-md-9">
                <div class="creditor-details">
                  <h2 class="creditor-name">{{ creditor.name | uppercase }}</h2>
                  <div class="service-list">
                    <div *ngFor="let service of creditor.creances" class="service-item">
                      <mat-icon class="service-icon">arrow_right</mat-icon>
                      <a [routerLink]="['/creance', service.id, service.creancetype]" class="service-link">
                        {{ service.name | uppercase }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
