<div class="change-password-container">
  <h2>Change Password</h2>
  <form (ngSubmit)="onChangePassword()" #changePasswordForm="ngForm">
    <div class="form-group">
      <label for="currentPassword">Current Password</label>
      <input
        type="password"
        id="currentPassword"
        name="currentPassword"
        class="form-control"
        [(ngModel)]="passwordModel.currentPassword"
        required
      />
    </div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        class="form-control"
        [(ngModel)]="passwordModel.newPassword"
        required
      />
    </div>
    <div class="form-group">
      <label for="confirmNewPassword">Confirm New Password</label>
      <input
        type="password"
        id="confirmNewPassword"
        name="confirmNewPassword"
        class="form-control"
        [(ngModel)]="passwordModel.confirmNewPassword"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.form.valid">
      Change Password
    </button>
  </form>
</div>
