<div class="container mt-5">
  <h2 class="text-center mb-4">Ouverture d'un compte de paiement</h2>
  <form (ngSubmit)="onSubmit()" #accountForm="ngForm">
    <div class="form-group">
      <label for="product">Sélectionner un produit</label>
      <select
        id="product"
        [(ngModel)]="model.product"
        name="product"
        class="form-control"
        required
      >
        <option value="hssab1">Hssab 1 - Plafond : 200 DH</option>
        <option value="hssab2">Hssab 2 - Plafond : 2000 DH</option>
        <option value="hssab3">Hssab 3 - Plafond : 2000 DH</option>
      </select>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nom">Nom</label>
        <input
          type="text"
          id="nom"
          [(ngModel)]="model.nom"
          name="nom"
          class="form-control"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="prenom">Prénom</label>
        <input
          type="text"
          id="prenom"
          [(ngModel)]="model.prenom"
          name="prenom"
          class="form-control"
          required
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="telephone">Téléphone</label>
        <input
          type="tel"
          id="telephone"
          [(ngModel)]="model.telephone"
          name="telephone"
          class="form-control"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="model.email"
          name="email"
          class="form-control"
          required
        />
      </div>
      <br />
    </div>
    <button type="submit" class="btn btn-warning btn-block p">Suivant</button>
  </form>
</div>
