<mat-toolbar color="primary">
  <span>JIBI</span>
  <button mat-icon-button>
    <mat-icon class="paymentIcon">payments</mat-icon>
  </button>

  <span class="spacer"></span>

  <div class="account-info">
    <span class="account-name" *ngIf="username">Hello, {{ username }}</span>
    <span class="separator" *ngIf="username"></span>
    <div class="balance-info" *ngIf="username">
      <span class="balance-label">Balance:</span>
      <span *ngIf="!isLoading">{{ balance !== null ? balance : 'Error loading balance' }}</span>
      <span *ngIf="isLoading">Loading...</span>
    </div>
  </div>

  <button mat-icon-button>
    <mat-icon>help_outline</mat-icon>
  </button>
</mat-toolbar>
