<mat-toolbar color="primary">
  <span>JIBI</span>
  <button mat-icon-button>
    <mat-icon class="paymentIcon">payments</mat-icon>
  </button>

  <span class="spacer"></span>

  <div class="account-info">
    <span class="account-name">Hello, {{username}} </span>
    <span class="separator"></span>
    <div class="balance-info">
      <span class="balance-label">Balance:</span>
      <span>{{  balance !== null ? balance : 'Loading...' }}</span>    </div>
  </div>

  <button mat-icon-button>
    <mat-icon>help_outline</mat-icon>
  </button>
</mat-toolbar>
