<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
<!--    <button mat-icon-button class="toggle-button" (click)="sidenav.toggle()">-->
<!--      <mat-icon>{{ sidenav.opened ? 'arrow_back' : 'arrow_forward' }}</mat-icon>-->
<!--    </button>-->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
