<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active" class="menu-item">
    <mat-icon class="menu-icon">dashboard</mat-icon>
    <span class="menu-text">Dashboard</span>
  </a>
  <a mat-list-item routerLink="/profile" routerLinkActive="active" class="menu-item">
    <mat-icon class="menu-icon">person</mat-icon>
    <span class="menu-text">Profile</span>
  </a>
  <a mat-list-item routerLink="/pwallet" routerLinkActive="active" class="menu-item">
    <mat-icon class="menu-icon">wallet</mat-icon>
    <span class="menu-text">P-Wallet</span>
  </a>
  <a mat-list-item routerLink="/settings" routerLinkActive="active" class="menu-item">
    <mat-icon class="menu-icon">settings</mat-icon>
    <span class="menu-text">Settings</span>
  </a>
  <a mat-list-item routerLink="/logout" routerLinkActive="active" class="menu-item-logout">
    <mat-icon class="menu-icon">logout</mat-icon>
    <span class="menu-text">Logout</span>
  </a>
  <br>
  <br>

</mat-nav-list>
