<div class="change-password-container">
  <mat-card class="change-password-card">
    <h2 class="title">Change Password</h2>
    <form (ngSubmit)="onChangePassword()" #changePasswordForm="ngForm">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Current Password</mat-label>
        <input
          matInput
          type="password"
          id="currentPassword"
          name="currentPassword"
          [(ngModel)]="passwordModel.currentPassword"
          required
        />
        <mat-error>Please enter your current password</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>New Password</mat-label>
        <input
          matInput
          type="password"
          id="newPassword"
          name="newPassword"
          [(ngModel)]="passwordModel.newPassword"
          required
          (input)="checkPasswordStrength()"
        />
        <mat-error>Please enter a new password</mat-error>
        <div class="password-strength-bar" [ngClass]="passwordStrength"></div>
        <span class="password-strength-label">{{ getPasswordStrengthLabel() }}</span>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Confirm New Password</mat-label>
        <input
          matInput
          type="password"
          id="confirmNewPassword"
          name="confirmNewPassword"
          [(ngModel)]="passwordModel.confirmNewPassword"
          required
        />
        <mat-error>Please confirm your new password</mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="change-password-button"
        [disabled]="!changePasswordForm.form.valid"
      >
        Change Password
      </button>
    </form>
  </mat-card>
</div>
