<!-- transaction-history.component.html -->
<div class="container">
  <div class="Content">
    <h1>Historique des Transactions</h1>

    <div class="button-group">
      <button mat-raised-button color="primary" [routerLink]="['/homepage']" class="rounded-left">
        Liste des créanciers
      </button>
      <button mat-raised-button color="primary" [routerLink]="['/historique']" class="rounded-right">
        Historique
      </button>
    </div>

    <div class="transaction-list">
      <mat-card class="transaction-card" *ngFor="let transaction of paginatedTransactions">
        <mat-card-content class="transaction-content" [ngClass]="{'bg-green': transaction.type === 'ENTREE', 'bg-red': transaction.type === 'SORTIE'}">
          <div class="transaction-details">
            <h2 class="mat-h2">{{ transaction.libelle }}</h2>
            <p class="montant">Montant: <span [ngClass]="{'green-text': transaction.type === 'ENTREE', 'red-text': transaction.type === 'SORTIE'}">{{ transaction.montant }} DH</span></p>
            <p class="date">Date: {{ transaction.date | date: 'short' }}</p>
            <p class="beneficiaire">Bénéficiaire: {{ transaction.beneficaire }}</p>
          </div>
          <div class="transaction-actions">
            <button mat-raised-button color="accent">Détails</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  <div>

  <!-- Pagination -->
  <div class="pagination">
    <button mat-button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)" [class.disabled]="currentPage === 1">
      Previous
    </button>
    <ng-container *ngFor="let page of pages">
      <button mat-button [class.active]="currentPage === page" (click)="onPageChange(page)">
        {{ page }}
      </button>
    </ng-container>
    <button mat-button [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)" [class.disabled]="currentPage === totalPages">
      Next
    </button>
  </div>
</div>
